/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET - Start of Your CSS*/

<style>

#content1 img {
	margin-left: auto;
	margin-right: auto; 
	padding:20px 0px;
}

	h2 { 
	color:black;
	font-family: garamond;
	font-size: 30px;
	font-weight:bold;
	padding:15px;
	margin:15px;
	}
	
	
	
 nav li {
    list-style:none;
    float:left;
    margin:0 auto;
    background-color:white;
    padding:7px 14px;
    color:black;
    text-transform:uppercase;
    font-family:garamond;
	font-size:30px;
	font-weight:bold;
  }
  
  nav {
	  border-top:5px solid black; 
	  height:50px;
	  margin:30px;
	  border-bottom:5px solid black;
	  height:50px;
	  margin:0 auto;
  }
  
  article{
	  padding-left:10px;
	  font-family:helvetica;
	  font-size:18px;
  	  float:left;
	  margin:150px;
	  margin-left:10px;
	  margin-top:30px;
	  background-color:white;
	  width:300px;
	  height:20px;
  }
  
  p {font-family: garamond;
	  float:left;
	  padding-left:20px;
	  margin-left:10px;
	  
  }
	  
	  #content2 img {
		  float:left;
		  margin:0 auto;
		  padding:20px;
	  }
	 
	  
	  #content3 img {
		  float:left;
		  margin:0 auto;
		  padding:20px;
	  }

</style>